nb-layout-column.fix {
  padding-bottom: 100px !important;
  padding-left: 15% !important;
  padding-right: 15% !important;
}

::ng-deep nb-chat input {
  font-weight: 400 !important;
}

::ng-deep nb-chat-message nb-chat-message-text .sender {
  display: none;
}

::ng-deep nb-chat-message .avatar {
  background-color: transparent;
}

::ng-deep nb-chat-message[ng-reflect-reply] .avatar {
  background-size: 80%;
}



::ng-deep .nb-custom-message-not-reply,
::ng-deep .nb-custom-message-reply {
  background-color: #f7f9fc;
  width: calc(100% + 40px);
  margin-left: 5px;
  color: black !important;
}

::ng-deep .no-messages::before {
  content: "No messages yet!";
  visibility: visible;
}
::ng-deep .no-messages {
  visibility: collapse;
}

::ng-deep [nbInput].size-medium {
  font-size: 14px !important;
  padding: 7px 20px 7px 20px !important;
  border-radius: 5px !important;
}

::ng-deep [nbButton].size-medium.icon-start.icon-end.appearance-filled,
.size-medium.icon-start.icon-end.appearance-filled[nbButtonToggle] {
  padding: unset;
}

::ng-deep [nbInput].size-medium::placeholder {
  font-size: 14px !important;
}


::ng-deep nb-chat-form .message-row {
  padding: 10px;
}
::ng-deep nb-chat-form .message-row input {
  height: 60px;
}

::ng-deep nb-chat-form {
  padding: 0px !important;
}

::ng-deep [nbButton].appearance-filled.status-primary,
::ng-deep [nbButton].appearance-filled.status-primary[nbButtonToggle],
::ng-deep [nbButton].appearance-filled.status-primary:active,
::ng-deep .appearance-filled.status-primary[nbButtonToggle]:active,
::ng-deep [nbButton].appearance-filled.status-primary:hover,
::ng-deep .appearance-filled.status-primary[nbButtonToggle]:hover,
::ng-deep [nbButton].appearance-filled.status-primary,
::ng-deep .appearance-filled.status-primary[nbButtonToggle] 
{
  background-color: #1d262f;
  border-color: #1d262f;
  display: none;
}

::ng-deep [nbInput].status-basic:focus {
  background-color: #edf1f7;
  border-color: #edf1f7;
}


markdown ::ng-deep br {
  display: block;
}

markdown ::ng-deep a,
markdown ::ng-deep a:hover,
markdown ::ng-deep a:focus {
  color: #ff4081;
}

::ng-deep .nb-custom-message markdown pre {
  max-width: 470px !important;
  overflow: scroll !important;
}
::ng-deep .nb-custom-message {
  max-width: 500px !important;
}


::ng-deep .katex * {
  font-size: 1.2rem !important;
}

::ng-deep .katex {
  background-color: #fff;
  padding: 1px 4px 1px 4px;
  border-radius: 10px;
  border: 1px solid rgba(208, 208, 208, 0.5);
  box-shadow: 1px 1px 1px 0px rgba(208, 208, 208, 0.2)
}

.markdown-clipboard-button {
  background-color: transparent;
}

::ng-deep .mermaid svg {
  max-width: 350px !important;
  max-height: 400px !important;
}

::ng-deep pre::selection {
  background: red;
}

::ng-deep markdown code[class*="language-"], 
::ng-deep markdown pre[class*="language-"] {
  font-size: 12px;
  font-weight: 600;
}

::ng-deep .btn-reply {
  display: none;
  float: right;
  position: relative;
  top: -10px;
  transform: scale(0.75);
}

::ng-deep .btn-reply button {
  font-size: 12px !important;
  font-weight: 400 !important;
}

::ng-deep .nb-custom-message:hover .custom-message .btn-reply {
  display: block;
}