.frame {
  margin-top: 50px;
}

nb-layout-column.fix {
  padding-bottom: 100px !important;
  padding-left: 25% !important;
  padding-right: 25% !important;
}

::ng-deep nb-chat input {
  font-weight: 400 !important;
}
