<div>
  <nb-layout>
    <nb-layout-column class="fix">

      <nb-chat>
        <ng-template nbChatTitle>
          {{title}}
        </ng-template>

        <div *nbCustomMessage="'md'; let text">
          <markdown ngPreserveWhitespaces emoji 
            mermaid [mermaidOptions]="mermaidOptions"
            katex [katexOptions]="katexOptions"
            clipboard [clipboardButtonComponent]="clipboardButton"
          >
            {{ text }}
          </markdown>
        </div>
        
        <nb-chat-message *ngFor="let msg of messages" [type]="msg.type" [message]="msg.text" [reply]="msg.reply"
          [sender]="msg.sender" [date]="msg.date" [avatar]="msg.avatar"
          [customMessageData]="msg.customMessageData">
        </nb-chat-message>

        <nb-chat-message *ngIf="loading" [nbSpinner]="loading" nbSpinnerStatus="info" type="text" message="...">
        </nb-chat-message>

        <nb-chat-form (send)="handleUserMessage($event)" [dropFiles]="true" messagePlaceholder="Enter a prompt here">
        </nb-chat-form>
        
      </nb-chat>

    </nb-layout-column>
  </nb-layout>
<!--   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round"
    stroke-linejoin="round" stroke-width="2">
    <path d="M1 6v16l7-4 8 4 7-4V2l-7 4-8-4-7 4zM8 2v16M16 6v16" />
  </svg>
  <div id="find-me"></div> -->
  <div #bottom></div>
</div>