.sidenav {
  width: 250px;
  transition: all 1s linear;
}

mat-list-item .option {
  left: 20px;
  bottom: 6px;
  display: inline;
  position: relative;
  font-size: 18px;
}

.mat-toolbar {
  background-color: #ffffff;
}

.fixed-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}