@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body::-webkit-scrollbar {
  display: none;
}

@import "assets/prism-vs.css"; //"~prismjs/themes/prism.css";

code:not([class*=language-]) {
  background: rgba(0, 0, 0, .07);
  border-radius: 3px;
  font-size: .94em;
  padding: 0 6px 2px;
  overflow-wrap: break-word;
}

// ngx-markdown sample
.post-preview ::ng-deep h1 {
  xcolor: blue;
}

.nb-custom-message-not-reply, .nb-custom-message-reply {
  background-color: #f7f9fc;
}


